@import '/css/cabecalho-portal.css';
@import '/css/barra-lateral.css';
@import '/css/rodape.css';
@import '/css/cores.css';
@import 'layout-paginas.css';
@import 'barra-rolagem.css';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--azul-100) !important;
}

.conteudo {
    padding: 2%;
}

.fotoprof {
    border-radius: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.texto {
    padding-left: 100px;
}


.imagem-nome img {
    margin-right: 15px;
}

.imagem-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.post1 {
    background: var(--azul-50);
    padding: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: 10px 0px;
    width: 100%;
}