:root {
    --azul-50: #e8f0fe;
    --azul-100: #d2e3fc;
    --azul-200: #aecbfa;
    --azul-300: #8ab4f8;
    --azul-400: #669df6;
    --azul-500: #4285f4;
    --azul-600: #1a73e8;
    --azul-700: #1966d2;
    --azul-800: #175DBF;
    --azul-900: #1555AE;
    --azul-1000: #134D9E;
}